.page-cabinet
  font-size: 12px
  line-height: 20px
  
  .main
    padding: 40px 0 30px 230px

    .btn
      padding: 12px 30px

      &_sm
        padding: 7px 16px
        font-size: 10px

    .btn.disabled, .btn[disabled], .btn_border.btn_second-st[disabled], .btn_border[disabled]
      background-color: #ececec
      color: #7c7c7c

    h1
      font-size: 24px
      line-height: 29px
      margin-bottom: 20px

    p + p
      margin-top: 20px

  .header-mob-layer-wrapp
    margin-bottom: 0
    height: 70px

  .header
    position: relative
    padding: 0
    background: #050447
    z-index: 150
    transition: background-color .2s

  .container
    max-width: 1170px
    padding-left: 30px
    padding-right: 30px

  .header-panel
    max-width: 100%

  .footer
    padding-left: 230px
    background-color: #050447
    transition: background-color .2s

  input, textarea
    font-weight: 500
    height: 44px
    font-size: 14px

  textarea
    height: 100px

  .field-item
    &__field
      &._icon
        input
          padding-left: 44px

    &__icon
      width: 20px
      height: 20px
      margin-top: -10px

.aside-nav
  position: fixed
  top: 0
  padding-top: 70px
  left: 0
  bottom: 0
  width: 230px
  z-index: 50

.cabinet-st-tt
  margin-bottom: 20px
  font-size: 18px
  line-height: 22px

.cabinet-st-inner
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

.cabinet-st-border-bl
  border-radius: 10px
  border: 1px solid #f7f7f7
  padding: 30px

.cab-list-inf
  display: flex
  flex-wrap: wrap
  margin-left: -30px
  margin-bottom: -23px

  &._att
    li
      background-image: url('../img/ang-att.svg')
      background-size: 20px 20px

  li
    padding-left: 30px
    width: calc(33.33% - 30px)
    margin-left: 30px
    margin-bottom: 23px
    background-repeat: no-repeat
    background-position: 0 0

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .aside-nav
    transform: translateX(-160px)

  .page-cabinet
    .main,
    .footer
      padding-left: 70px

  .page-cabinet
    .main
      .btn
        padding-left: 25px
        padding-right: 25px

  .cabinet-st-inner
    margin-bottom: 20px

  .cab-list-inf
    margin-left: -18px

    li
      width: calc(50% - 18px)
      margin-left: 18px
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .aside-nav
    transform: translateX(-100%)

  .page-cabinet
    font-size: 10px
    line-height: 18px

    input
      height: 40px

    .field-item
      &__field
        &._icon
          input
            padding-left: 38px

        &._ruble
          input
            padding-right: 38px

      &__icon
        .icon
          width: 16px
          height: 16px
    
    .main,
    .footer
      padding-left: 0

    .container
      padding-left: 20px
      padding-right: 20px

    .main
      padding-top: 20px

      p + p
        margin-top: 18px

      h1
        font-size: 18px
        line-height: 22px
        margin-bottom: 18px

      .btn
        padding: 13px 20px
        font-size: 12px

        &_sm
          font-size: 10px
          padding: 7px 8px

  .cabinet-st-tt
    margin-bottom: 13px
    font-size: 16px
    line-height: 20px

  .cabinet-st-border-bl
    padding: 20px

  .cab-list-inf
    display: block
    margin-left: 0
    margin-bottom: -18px

    &._att
      li
        background-size: 16px 16px

    li
      min-height: 16px
      padding-left: 26px
      width: 100%
      margin-left: 0
      margin-bottom: 18px
      font-size: 10px
      line-height: 13px
/* end media max width $m-md */
