.page-cabinet
  font-size: 12px
  line-height: 20px
  
  .main
    padding: 40px 0 30px 230px

    .btn
      padding: 12px 30px

    h1
      font-size: 24px
      line-height: 29px
      margin-bottom: 20px

    p + p
      margin-top: 20px

  .header-mob-layer-wrapp
    margin-bottom: 0
    height: 70px

  .header
    position: relative
    padding: 0
    background: #050447
    z-index: 150
    transition: background-color .2s

  .container
    max-width: 1170px
    padding-left: 30px
    padding-right: 30px

  .header-panel
    max-width: 100%

  .footer
    padding-left: 230px
    background-color: #050447
    transition: background-color .2s

  input, textarea
    height: 44px
    font-size: 14px

  textarea
    height: 100px

  .field-item
    &__field
      &._icon
        input
          padding-left: 44px

    &__icon
      width: 20px
      height: 20px
      margin-top: -10px

.aside-nav
  position: fixed
  top: 0
  padding-top: 70px
  left: 0
  bottom: 0
  width: 230px
  z-index: 50
