.page-cabinet
  font-size: 12px
  line-height: 20px
  
  .main
    padding: 40px 0 30px 230px

    .btn
      padding: 12px 30px

      &_sm
        padding: 7px 16px
        font-size: 10px

    .btn.disabled, .btn[disabled], .btn_border.btn_second-st[disabled], .btn_border[disabled]
      background-color: #ececec
      color: #7c7c7c

    h1
      font-size: 24px
      line-height: 29px
      margin-bottom: 20px

    p + p
      margin-top: 20px

  .header-mob-layer-wrapp
    margin-bottom: 0
    height: 70px

  .header
    position: relative
    padding: 0
    background: #050447
    z-index: 150
    transition: background-color .2s

  .container
    max-width: 1170px
    padding-left: 30px
    padding-right: 30px

  .header-panel
    max-width: 100%

  .footer
    margin-left: 230px
    padding: 25px 0
    transition: background-color .2s
    background: #050447

    .container
      display: flex
      align-items: center
      justify-content: space-between

      .copy
        color: #8491b4
        font-size: 13px
        line-height: 16px
        margin: 0 20px 0 0

  input, textarea
    font-weight: 500
    height: 44px
    font-size: 14px

  textarea
    height: 100px

  .field-item
    &__field
      &._icon
        input
          padding-left: 44px

    &__icon
      width: 20px
      height: 20px
      margin-top: -10px

      .icon
        width: 100% 
        height: 100%

      .icon-envelope
        width: 16px
        height: 12px

      .icon-key
        width: 18px
        height: 18px

.cabinet-st-tt
  margin-bottom: 20px
  font-size: 18px
  line-height: 22px

.cabinet-st-inner
  margin-bottom: 30px

  &:last-child
    margin-bottom: 0

.cabinet-st-border-bl
  border-radius: 10px
  border: 1px solid #f7f7f7
  padding: 30px

.cab-attention-info
  .cab-list-inf
    margin: 23px 0 0

.cab-list-inf
  display: flex
  flex-wrap: wrap
  margin-left: -30px
  margin-bottom: -23px

  &._att
    li
      background-image: url('../img/ang-att.svg')

  &._fobb
    li
      background-image: url('../img/round-close-red.svg')

  &._half
    margin-left: -30px

    li
      width: calc(50% - 30px)

  li
    padding-left: 30px
    width: calc(33.33% - 30px)
    margin-left: 30px
    margin-bottom: 23px
    background-repeat: no-repeat
    background-position: 0 0
    background-size: 20px 20px

.data-list-pay
  .field-item
    &._success
      input
        background-color: #fff

    input
      border-color: transparent
      font-weight: 600

.cabinet-data-fields-row
  .field-item
    input
      border-color: transparent
      font-weight: 600

.ban-repeat-bl
  padding: 30px
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: space-between

  .icon
    width: 26px
    height: 26px
    flex-shrink: 0
    margin-right: 14px

  &__info
    flex-grow: 1
    margin-right: 60px

    .cabinet-st-tt
      margin-bottom: 12px

    p
      font-size: 14px
      line-height: 17px

  .btn
    flex-shrink: 0

.st-cab-sec
  padding: 30px
  border-radius: 10px

.footer-mail
  flex-shrink: 0
  display: flex
  align-items: center
  justify-content: space-between

  a
    font-size: 13px
    color: #fff

  .icon
    flex-shrink: 0
    width: 20px 
    height: 20px
    fill: $colorBlue
    margin-right: 10px


/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .page-cabinet
    .main
      padding-left: 70px

    .footer
      margin-left: 70px

  .page-cabinet
    .main
      .btn
        padding-left: 25px
        padding-right: 25px

  .cabinet-st-inner
    margin-bottom: 20px

  .cab-list-inf
    margin-left: -18px

    &._half
      margin-left: -30px

      li
        margin-left: 30px
        width: calc(50% - 30px)

    li
      width: calc(50% - 18px)
      margin-left: 18px
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .aside-nav
    transform: translateX(-100%)

  .page-cabinet
    font-size: 10px
    line-height: 18px

    .footer
      margin-left: 0
      padding: 20px 0

      .container
        .copy
          font-size: 10px
          line-height: 13px

    input
      height: 40px

    .field-item
      &__field
        &._icon
          input
            padding-left: 38px

        &._ruble
          input
            padding-right: 38px

      &__icon
        .icon
          width: 16px
          height: 16px
    
    .main,
    .footer
      padding-left: 0

    .container
      padding-left: 20px
      padding-right: 20px

    .main
      padding-top: 20px

      p + p
        margin-top: 18px

      h1
        font-size: 18px
        line-height: 22px
        margin-bottom: 18px

      .btn
        padding: 13px 20px
        font-size: 12px

        &_sm
          font-size: 10px
          padding: 7px 8px

  .cabinet-st-tt
    margin-bottom: 13px
    font-size: 16px
    line-height: 20px

  .cabinet-st-border-bl
    padding: 20px

  .cab-list-inf
    display: block
    margin-left: 0
    margin-bottom: -18px

    &._half
      margin-left: 0

      li
        margin-left: 0
        width: 100%

    li
      min-height: 16px
      padding-left: 26px
      width: 100%
      margin-left: 0
      margin-bottom: 18px
      font-size: 10px
      line-height: 13px
      background-size: 16px 16px

  .cab-attention-info .cab-list-inf
    margin-top: 18px

  .page-cabinet input, .page-cabinet textarea
    font-size: 13px

  .ban-repeat-bl
    padding: 20px 20px 24px
    display: block
    overflow: hidden

    .icon
      width: 20px
      height: 20px
      margin-right: 0
      margin-top: 6px
      float: left

    &__info
      margin-left: 30px
      margin-right: 0
      margin-bottom: 20px

      .cabinet-st-tt
        margin-bottom: 10px
        line-height: 17px

      p
        font-size: 12px
        line-height: 14px

    .btn
      clear: both
      width: 100%

  .st-cab-sec
    padding: 24px 20px

  .footer-mail
    a
      font-size: 10px

    .icon
      width: 14px
      height: 14px
      margin-right: 8px

/* end media max width $m-md */
