.footer
  position: relative
  padding-top: 50px
  color: #fff
  background-color: $colorBlueDarkest
  background-image: url('../img/footer-bg.png')
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden

  .container
    position: relative
    z-index: 3

.footer-row
  display: flex
  justify-content: space-between
  padding: 52px 0

.footer-col
  margin-right: 22px

.footer-tt
  margin-bottom: 18px
  font-weight: 600
  font-size: 16px
  line-height: 19px

.footer-nav
  display: flex
  justify-content: space-between
  width: 515px

  ul
    margin-left: 20px

    &:first-child
      margin-left: 0

  li
    margin-bottom: 10px
    font-size: 14px
    line-height: 22px

    &:last-child
      margin-bottom: 0

  a
    color: #fff

    &:hover
      color: $colorPrimary

  button
    cursor: pointer

.f-hours-work
  display: flex
  justify-content: space-between
  min-width: 314px
  background-image: url('../img/hours-work-line.svg')
  background-repeat: no-repeat
  background-position: 42px 5px

.f-hours-w-item
  &__w-days
    margin-bottom: 2px
    font-size: 14px
    line-height: 18px

  &__w-hours
    margin-bottom: 4px
    font-weight: 500
    font-size: 16px
    line-height: 19px

  &__t
    font-size: 12px
    line-height: 15px
    color: $colorGrayLight
  
  .icon
    margin-bottom: 12px
    fill: #fff

.footer-bottom
  display: flex
  align-items: center
  padding: 24px 0 20px
  border-top: 1px solid rgba(#fff, .15)

  .logo
    margin-right: 70px

    a
      display: block

    img
      width: 140px

.copy
  margin-right: 20px
  font-size: 13px
  line-height: 16px
  color: $colorGrayLight

.policy
  font-size: 13px
  line-height: 16px
  margin-left: auto
  
  a
    color: #fff

    &:hover
      color: $colorPrimary

/* Max width $m-hd */
@media only screen and (max-width: $m-hd)
  .footer-nav
    width: 415px
/* end media max width $m-hd */

/* Max width $m-xl */
@media only screen and (max-width: $m-xl)
  .footer-row
    flex-wrap: wrap
    justify-content: flex-start

  .footer-col
    margin-right: 0

    &:first-child
      width: 100%
      margin-bottom: 43px

  .footer-nav
    width: 555px
    margin-right: 0

  .f-hours-work
    justify-content: flex-start

  .f-hours-w-item
    width: 230px
/* end media max width $m-xl */

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .footer
    background-image: url('../img/footer-bg-tablet.jpg')

  .footer-nav
    width: 580px

  .f-hours-work
    width: 373px
    margin-right: 111px
    justify-content: space-between
    background-image: url('../img/hours-work-line-tablet.svg')
    background-size: 212px 8px
    background-position: 40px 8px

  .f-hours-w-item
    width: auto

  .footer-bottom .logo
    margin-right: 40px
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .footer
    padding-top: 32px
    background-image: url('../img/footer-bg-mob.jpg')

  .footer-row
    display: block
    padding: 32px 0

  .footer-tt
    margin-bottom: 15px
    font-size: 14px
    line-height: 17px

  .footer-nav
    width: auto
    flex-wrap: wrap
    justify-content: flex-start

    ul
      margin-right: 30px
      margin-left: 0

    li
      font-size: 13px
      line-height: 17px

      &:last-child
        margin-bottom: 10px

  .footer-col
    &:first-child
      margin-bottom: 14px

    &:nth-child(2)
      margin-bottom: 24px

  .f-hours-work
    width: 231px
    min-width: 0
    margin-right: 0px
    background-image: url('../img/hours-work-line-mobile.svg')
    background-size: 91px 8px
    background-position: 39px 7px

  .f-hours-w-item
    &__w-days
      font-size: 13px
      line-height: 16px
      margin-bottom: 2px

    &__w-hours
      font-size: 14px
      line-height: 17px
      margin-bottom: 5px

    &__t
      font-size: 12px
      line-height: 15px

    .icon
      margin-bottom: 10px

  .footer-bottom
    display: block
    padding: 28px 0

    .logo
      display: none

  .copy
    display: block
    margin-bottom: 14px
/* end media max width $m-md */