.header
  padding-top: 20px
  padding-bottom: 24px
  background-color: #220a5e
  background-image: url('../img/header-bg.jpg')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: cover
  color: #fff

.header-mob-layer-wrapp
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 17px

.logo
  display: flex
  align-items: center
  outline: none
  text-decoration: none
  transition: opacity .2s

  &:hover
    opacity: .95

.header-lang-mobile
  display: none

.header-lang
  position: relative
  margin-right: auto
  margin-left: 30px
  margin-bottom: 3px
  text-transform: uppercase
  font-weight: 600
  font-size: 12px
  line-height: 17px

  &._opened
    .header-lang
      &__current
        border-color: transparent
        color: $colorBlueLight

        .icon
          fill: $colorBlueLight
          transform: rotate(-180deg)

  &__current
    position: relative
    z-index: 3
    margin-right: 10px
    border-bottom: 1px dotted #0c88f9
    cursor: pointer
    user-select: none
    transition: border-color .2s, color .2s

    &:hover
      border-color: transparent

    .icon
      position: absolute
      right: -10px
      top: 50%
      margin-top: -2px
      width: 6px
      height: 4px
      fill: #fff
      transition: transform .2s, fill .2s

  &__dd
    display: none
    position: absolute
    z-index: 2
    top: -6px
    left: -8px
    width: 44px
    padding: 23px 7px 7px
    border: 1px solid #000
    border: solid 1px rgba(#fff, .2)
    background-color: #050a4d
    border-radius: 4px

    li
      a
        color: #fff

        &:hover
          color: $colorBlueLight

.header-enter-btns
  display: flex
  margin-bottom: 3px

  .btn
    &:first-child
      border-radius: 4px 0 0 4px
      margin-right: -1px

    &:last-child
      border-radius: 0 4px 4px 0

.main-header-wrapper
  background-color: #220a5e
  background-image: url('../img/main-screen-bg.jpg')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: cover
  overflow: hidden

  .header
    background: none
    position: relative
    z-index: 10
    background: none
    backdrop-filter: none

.main-header-inner
  padding: 28px 0 48px
  color: #fff

.main-header-info
  position: relative
  z-index: 10
  max-width: 540px
  min-height: 176px
  margin-bottom: 100px

  p
    max-width: 390px
    font-size: 16px
    line-height: 1.38em
  
  h1, .title-site
    margin-bottom: 14px

  .btn
    margin-top: 30px

.main-header-infograph
  position: relative

  &::before,
  &::after
    content: ''
    position: absolute
    z-index: 2
    background-repeat: no-repeat
    background-position: 0 0
    background-size: 100% 100%

  &::before
    left: 9px
    top: -402px
    width: 1278px
    height: 395px
    background-image: url('../img/header-list-dots.svg')

  &::after
    position: absolute
    left: 795px
    bottom: -39px
    width: 360px
    height: 410px
    background-image: url('../img/lg-logo-main.svg')

.mh-icons
  display: flex

  &__info
    width: 105px

    b
      display: block
      margin-bottom: 4px
      font-weight: 500
      font-size: 18px
      line-height: 22px
      text-transform: uppercase

    span
      display: block
      font-size: 12px
      line-height: 15px
      color: #8491b4

  li
    display: flex
    margin-right: 61px

    &:last-child
      margin-right: 0

  .icon
    flex-shrink: 0
    margin-right: 14px
    width: 30px
    height: 30px

  .icon-stat-2
    margin-top: 2px
  
  .icon-stat-3
    width: 26px
    margin-top: 4px

  .icon-building
    position: relative
    margin-top: 2px
    margin-left: 4px

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .main-header-wrapper
    background-position: 25% 0
    background-image: url('../img/main-screen-bg-tablet.jpg')

  .main-header-inner
    padding-top: 0

  .main-header-info
    margin-bottom: 94px

  .mh-icons
    li
      margin-right: 10px

  .main-header-infograph
    &::after
      left: 510px

    &::before
      left: -15px
      top: -452px
      width: 755px
      height: 448px
      background-image: url('../img/header-list-dots-tablet.svg')
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .header
    padding: 16px 0 18px

  .main-header-wrapper
    background-image: url('../img/main-screen-bg-mobile.jpg')
    background-position: 50% 0

    .header
      height: 67px

      &::before
        content: ''
        position: absolute
        left: 20px
        right: 20px
        bottom: 0
        width: 100%
        height: 1px
        z-index: 50
        background-color: rgba(#fff, .3)

  .menu_opened
    .header
      z-index: 40

  .header-mob-layer-wrapp
    position: relative
    z-index: 50

  .main-header-inner
    padding-bottom: 30px
  
  .logo
    height: 32px

    img
      max-height: 100%

  .header-enter-btns
    .btn
      display: none

      &.btn_border
        display: block
        background-color: $colorPrimary
        border-color: $colorPrimary
        border-radius: 4px

        span
          color: #000

  .main-header-info
    padding: 26px 0 30px
    margin-bottom: 0
    max-width: 300px

    .title-site, h1
      margin-bottom: 17px
    
    p
      font-size: 14px
      line-height: 17px

  .main-header-infograph
    &::after
      left: 290px
      bottom: -30px
      width: 140px
      height: 159px

    &::before
      left: -43px
      top: 0px
      width: 370px
      height: 90px
      background-image: url('../img/header-list-dots-mob.svg')

    .mh-icons
      flex-wrap: wrap
      max-width: 280px
      min-height: 135px
      align-content: space-between

      &__info
        width: 95px

        b
          font-size: 14px
          line-height: 17px

        span
          font-size: 10px
          line-height: 12px

      .icon
        width: 24px
        height: 24px
        margin-right: 10px

      .icon-stat-3
        margin-top: 0

      .icon-building
        margin-left: 0
        margin-top: 0

  .header-lang-mobile
    display: flex
    align-items: center
    padding: 17px 0

    &__tt
      margin-right: 40px
      min-width: 100px
      font-size: 12px
      line-height: 15px
      color: $colorGrayLight
/* end media max width $m-md */