/* ----- Page structure ---------------- */
html
  height: 100%

body
  display: flex
  flex-direction: column
  min-width: 320px
  min-height: 100%
  width: 100%
  margin: 0
  padding: 0
  background-color: #fff

.site-wrapper
  overflow: hidden
  flex: 1 0 auto

.footer
  flex-shrink: 0

.section-st
  padding-top: 40px
  padding-bottom: 40px

.container
  max-width: $max-width-layout
  padding: 0 $sides-spacing-xl
  margin-left: auto
  margin-right: auto

.hidden-mobile,
.hidden-devices
  display: none

























