/* ----- Page structure ---------------- */
html
  height: 100%

body
  display: flex
  flex-direction: column
  min-width: 320px
  min-height: 100%
  width: 100%
  margin: 0
  padding: 0
  background-color: #fff

.site-wrapper
  flex: 1 0 auto

.footer
  flex-shrink: 0

.container
  max-width: $max-width-layout
  padding: 0 $sides-spacing-xl
  margin-left: auto
  margin-right: auto

.hidden-mobile,
.hidden-devices
  display: none

.section-space-st
  margin: 50px 0

  &._bordered
    padding-bottom: 50px
    border-bottom: 1px solid #ebebf3

.st-two-columns
  display: flex
  margin-top: 40px

.st-two-main
  flex-grow: 1

.st-two-aside
  flex: 0 0 285px
  margin-left: 30px

.aside-icon-bl
  margin-bottom: 4px
  padding: 36px 30px
  border-radius: 10px
  color: #fff
  backdrop-filter: blur(10px)

  &._line-light-bg
    background-color: $colorBlueMoreLight
    background-image: url('../img/line-light-bl.svg')
    background-repeat: no-repeat
    background-position: 50% 100%
    background-size: cover
    
    .icon
      fill: #fff

  &._blue-bg
    background-color: $colorBlueDarkest
    background-image: url('../img/aside-bl-blue-bg.svg')
    background-repeat: no-repeat
    background-position: 50% 0
    background-size: cover

    .icon
      fill: $colorBlue

  &__tt
    margin-bottom: 15px
    font-weight: 500
    font-size: 16px
    line-height: 19px

  &__sub
    font-size: 13px
    line-height: 16px
    max-width: 180px
    color: $colorGrayLight

  .icon
    margin-bottom: 16px

  .icon-rocket
    width: 49px
    height: 50px

  .icon-comments
    width: 54px
    height: 50px

  .btn
    margin-top: 10px





