.page-cabinet
  background-color: var(--main-bg-color)
  color: var(--main-text-color)
  transition: background-color .2s

  .title-site, h1, h2, h3, h4, h5, h6,
  .btn_border
    color: var(--main-text-color)

.pay-comp-wrapp,
.cab-st-tile,
.data-list-pay li,
.data-list-pay .pay-comp-brand__name,
.data-list-pay .pay-comp-brand__logo,
.cabinet-data-col._gray,
.ban-repeat-bl,
.st-table-h-row,
.partners-link-list,
.st-cab-sec,
.deal-table-item,
.aside-nav-tablet-btn,
.cabinet-career-programs-list li
  background-color: var(--main-blocks-bg)
  transition: background-color .2s

.cabinet-stat-bl
  color: var(--color-dark)

.aside-nav
  background-color: var(--main-blocks-bg)
  transition: background-color .2s, transform .2s

.pay-comp-bonus__tt,
.cab-st-tile._empty b,
.cabinet-data-col .field-item__label,
.st-table-h-head,
.st-table-h-device-tt,
.link-invite__tt,
.cab-p-status__tt
  color: var(--color-gray-light)

[data-theme="dark"]
  .btn
    &:hover
      color: #000

  &.page-cabinet .header,
  &.page-cabinet .footer,
  .limits-withdraw-info,
  .half-icon-bl,
  .cab-partners-bonuses,
  .partners-link-main,
  .cabinet-stat-data,
  .career-main-status-info,
  .career-main-status-details,
  .career-statuses,
  .cabinet-stat-data-select-wrapp
    background: #1f1e43

  .statuses-carousel
    .owl-prev
      background-image: linear-gradient(to right, #1f1e43 50%, rgba(#1f1e43, 0))

    .owl-next
      background-image: linear-gradient(to left, #1f1e43 50%, rgba(#1f1e43, 0))

  .cabinet-stat-bl
    background-color: #f7f7f7

  .cabinet-stat-bl
    &._blue-version
      background-color: #3698e4
      color: #fff

      .icon
        fill: #fff

      .cabinet-stat-bl__tt
        color: rgba(#fff, .7)

      .btn.btn_border
        border-color: #fff
        color: #fff

        &:hover
          background-color: #fff
          color: #000

      .btn.btn_border-gray
        border-color: rgba(#fff, .5)

      .cabinet-stat-bl__val
        color: #fff

  .pay-comp-aside
    border-color: rgba(#fff, .11)
    transition: none

  .btn_border.btn_border-gray,
  .cabinet-st-border-bl,
  .data-list-pay__footer,
  .cabinet-data-col,
  .cabinet-data-photo-save,
  .h-aside-nav,
  .deal-ti-row:last-child,
  .aside-nav-inner,
  .aside-nav-tablet-btn,
  .aside-nav-time,
  .aside-nav .header-switch-theme,
  .cab-career-reasons,
  .c-best-status-l-col
    border-color: rgba(#fff, .11)

  .text_dark-50,
  .aside-nav-list-items>li>a,
  .deal-ti-status .btn.btn_border,
  .login-h .btn.btn_border,
  .history-table .btn.btn_border,
  .pay-comp-row .pay-comp-btn .btn,
  .burger-menu-cabinet:hover
    color: var(--color-light)

  .cabinet-stat-bl .btn_border.btn_border-gray
    border-color: rgba(#424242, .2)

    &:hover
      border-color: $colorBlue

  .cabinet-data-photo__img
    border-color: rgba(#ededed, .2)

  .cab-st-tile._disabled
    background-color: rgba(#1f1e43, .5)

  .cabinet-data-col._gray
    border-color: transparent

  .h-aside-nav
    li
      &.active,
      &.active a,
      &:hover,
      a:hover
        color: #fff

  .pagination a
    background-color: var(--main-blocks-bg)
    color: #fff

  .pagination__active a,
  .pagination__active a:hover,
  .pagination a:hover
    background-color: #8491b4
    color: #000

  .pagination a.disabled
    color: #fff
    background-color: var(--main-blocks-bg)

    &:hover
      background-color: var(--main-blocks-bg)
      color: #fff

  .cab-partners-row .cabinet-stat-bl,
  .cab-partners-col .status-levels,
  .partners-link-list,
  .deal-ti-dates,
  .cab-st-tile-disabled-inner
    background-color: #18173d

  .cab-partners-status
    background-color: #1f1f44

  .aside-nav-list-items ul a, .aside-nav-list-items ul span
    color: #8491b4

  .aside-nav-list-items ul li:before
    border-color: #8491b4

  .aside-nav-list-items ul li:after
    background-color: #8491b4

  .main .btn.disabled, .main .btn[disabled], .main .btn_border.btn_second-st[disabled], .main .btn_border[disabled]
    background-color: rgba(#272558, .75)
    color: rgba(#fff, .5)

  .aside-nav-list-items li
    &.active
      a, span
        color: $colorBlue

    .nav-lock-item
      &::before
        border-color: rgba($colorDanger, .6)

      a, span
        &:hover
          color: #8491b4

    a, span
      &:hover
        color: $colorBlue

  .aside-nav-inner
    .btn_border-gray.btn
      border-color: #8491b4
      color: #8491b4

      &:hover
        color: #fff
        border-color: $colorBlue

  .cabinet-data-photo__btn:hover .btn
    border-color: $colorBlue

  .cab-c-reasons-line
    .btn.btn_border
      &:hover
        .icon
          fill: #000

      .icon
        fill: #fff

  .cabinet-stat-data .tiles-list li
    color: #fff
    background-image: url('../img/cab-stat-data-bg-dark.png')

  .cabinet-stat-data .tiles-list .tiles-service__info span
    color: rgba(#fff, .5)

  .cabinet-stat-data .tiles-list .tiles-service__icon .icon,
  .ban-repeat-bl .icon
    fill: rgba(#fff, .5)

  .status-level-progress,
  ._status-closed .status-level-progress .progress-active-lines span
    // background-image: url('../img/status-progress-empty-dark-theme.png')

  .career-statuses-inf .cabinet-stat-bl,
  .c-msi-levels,
  .c-msd-aside-col,
  .c-msd-aside-col-tiles .cabinet-stat-bl
    background-color: #272558

  .modal-content .title-site
    color: #000

  .aside-modal
    background: #050447

  .aside-modal_error
    background: #d43d02

  .deal-ti-progress .status-level-progress span
    background-color: #343459

  .deal-ti-progress .status-level-progress span.active
    background-color: $colorPrimary

  ._status-working .status-level-progress span.active
    background-color: #23ace5

  ._status-closed .status-level-progress span.active
    background-color: #343459

  .fake-control
    background-color: rgba(#fff, .8)

  .hint-inner
    background-color: #000

    &::before
      border-top-color: #000