.tiles-docs
  li
    display: flex
    justify-content: space-between
    flex-direction: column
    width: calc(16.66% - 3px)

    &.tiles-docs__row
      background-color: $colorBlueDarkest
      width: calc(33.32% - 3px)

      > div
        display: flex
        justify-content: space-between

      .tiles-doc-item
        width: 50%

        &:last-child
          padding-left: 30px
          border-left: 1px solid rgba(#fff, .2)

  .tiles-doc-item__tt
    em
      font-style: normal

  &._purple
    li
      &:first-child
        background-image: url('../img/tiles-docs-1-bg.png')

      &:nth-child(2)
        background-image: url('../img/tiles-docs-2-bg.png')

      &:nth-child(3)
        background-image: url('../img/tiles-docs-3-bg.png')

      &:nth-child(4)
        background-image: url('../img/tiles-docs-4-bg.png')

      &:nth-child(5)
        background-image: url('../img/tiles-docs-2-bg.png')

.tiles-doc-item
  margin-bottom: 22px
  color: #fff

  &:hover
    color: $colorPrimary

  &__icon
    height: 34px
    margin-bottom: 17px

    .icon
      width: 32px
      height: 34px

  &__tt
    font-weight: 500
    font-size: 14px
    line-height: 18px

    span
      display: block
      text-transform: uppercase
      font-weight: 400
      font-size: 12px
      line-height: 15px
      color: $colorGrayLight

    a
      color: #fff

      &:hover
        color: $colorPrimary

.about-row
  display: flex
  justify-content: space-between
  margin-top: 40px

.about-info
  flex-grow: 1

.about-aside
  width: 390px
  margin-left: 50px
  flex-shrink: 0

.aside-b-start
  padding: 80px 68px 0
  text-align: center
  border-radius: 10px
  background-image: url('../img/aside-b-start@2x.png')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: 100% 592px

  .title-site
    margin-bottom: 40px

  .btn
    margin-bottom: 80px

.about-main-tiles
  position: relative
  margin-bottom: 80px

  .tiles-list
    li
      min-height: 290px
      padding-top: 30px
      padding-bottom: 80px

      &:first-child
        background-image: url('../img/tiles-about-1-bg.jpg')

      &:nth-child(2)
        background-image: url('../img/tiles-about-2-bg.jpg')

      &:nth-child(3)
        background-image: url('../img/tiles-about-3-bg.jpg')

      &:nth-child(4)
        background-image: url('../img/tiles-about-4-bg.jpg')

  .tiles-head
    justify-content: flex-start

    .icon
      margin-right: 17px
      width: 40px
      height: 40px
      fill: $colorBlue

  .tiles-tt
    line-height: 20px

    span
      color: $colorGrayLight
      font-size: 14px

  .tiles-info
    position: relative
    
    &::before
      content: ''
      position: absolute
      left: 3px
      top: -16px
      width: 1px
      height: 9px
      z-index: 2
      background-color: rgba(#fff, .2)

    p
      margin-bottom: 6px
      font-weight: 500
      min-height: 36px
      font-size: 14px
      line-height: 18px

  .tp-sm
    display: block
    font-size: 13px
    line-height: 16px

  .tiles-list_purple-item
    .tiles-head
      .icon
        fill: $colorPurple
  
  .f-hours-work
    background: none

  .f-hours-work
    width: 228px
    min-width: 10px

  .f-hours-w-item
    &:last-child
      position: relative

      &::before
        content: ''
        position: absolute
        left: 0
        top: -27px
        width: 5px
        height: 5px
        z-index: 2
        border: 1px solid #9d9dc5
        border-radius: 50%
        background-color: $colorBlueDarkest

      &::after
        content: ''
        position: absolute
        left: 3px
        top: -16px
        width: 1px
        height: 9px
        z-index: 2
        background-color: rgba(#fff, .2)

  .f-hours-w-item__t
    color: $colorPrimary

.about-tiles-line
  position: absolute
  left: 30px
  right: 30px
  bottom: -30px
  z-index: 3
  display: flex
  align-items: center
  padding: 24px 70px 24px 30px
  border-radius: 6px
  color: #000
  background-image: url('../img/bgd-line.svg')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)

  &__icon
    flex-shrink: 0
    margin-right: 16px
  
    .icon
      width: 27px
      height: 40px
      fill: $colorPurple

  &__tt
    flex-shrink: 0
    width: 140px
    font-weight: 500
    font-size: 16px
    line-height: 19px

  &__arr
    flex-shrink: 0
    margin: 0 30px 0 17px
    position: relative
    height: 10px
    width: 50px
    overflow: hidden

    .icon
      position: absolute
      right: 0
      top: 0
      width: 100px
      height: 10px

  &__info
    flex-grow: 1
    font-weight: 500
    font-size: 14px
    line-height: 22px

    span
      display: block

  .v-soc-fullname
    margin-left: 60px
    flex-shrink: 0

    li
      margin: 0 0 12px

      &:last-child
        margin: 0

    a
      font-weight: 500
      font-size: 14px
      color: #000

      &:hover
        color: $colorPrimary

      .icon
        flex-shrink: 0

/* Max width $m-hd */
@media only screen and (max-width: $m-hd)
  .about-main-tiles
    .tiles-list
      flex-wrap: wrap
      
      li
        width: calc(50% - 2px)
        margin-bottom: 4px
        min-height: 353px
        padding-bottom: 140px

        &:nth-child(1),
        &:nth-child(2)
          padding-bottom: 30px
          min-height: 100px

    .tiles-info
      p
        min-height: 10px

    .tiles-tt
      font-size: 16px
      line-height: 20px
      margin-right: 0
    
  .about-tiles-line
    width: 648px
    left: 50%
    right: auto
    margin-left: -324px
    flex-wrap: wrap
    align-items: flex-start
    padding: 32px 30px 30px

    &__tt
      width: auto
      margin-right: 30px
      margin-top: 2px

    &__arr
      position: relative
      top: 12px
      margin: 0
      width: 38px
      height: 20px
      background-image: url('../img/m-min-p-arrow.svg')
      background-repeat: no-repeat
      background-position: 100% 100%
      background-size: 100% 100%

      .icon
        display: none

    &__info
      margin-left: 43px
      margin-bottom: 20px

    .v-soc-fullname
      margin: 0 0 0 43px
      display: flex
      align-items: center

      li
        margin: 0
        margin-right: 90px

        &:last-child
          margin-right: 0

      a
        display: flex
        align-items: center
        justify-content: space-between

        .icon
          flex-shrink: 0

  .tiles-docs
    flex-wrap: wrap
    
    li
      display: flex
      justify-content: space-between
      flex-direction: column
      width: calc(50% - 3px)
      margin-bottom: 4px

      &.tiles-docs__row
        width: 100%
        margin-bottom: 4px
/* end media max width $m-hd */

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .about-row
    display: block

  .about-aside
    margin: 50px auto 0

  .tiles-docs
    li
      min-height: 210px
      padding: 30px

    .tiles-doc-item__tt
      em
        display: block

        &::after
          content: '-'
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .about-main-tiles
    .tiles-list
      flex-wrap: block

      li
        width: 100%
        min-height: 100px
        padding-bottom: 20px
        padding-top: 20px

    .tiles-head
      &._bordered-round
        padding-bottom: 15px
        
      .icon
        width: 30px
        height: 30px
        margin-right: 14px

    .tiles-tt
      font-size: 14px
      line-height: 18px

      br
        display: none

    .tiles-info p
      font-size: 13px
      line-height: 16px

    .tp-sm
      font-size: 12px
      line-height: 15px

  .about-main-tiles .tiles-list li:first-child, .about-main-tiles .tiles-list li:nth-child(2)
    padding-bottom: 20px

  .about-main-tiles
    margin-bottom: 30px

  .about-tiles-line
    position: relative
    margin-left: 0
    width: 100%
    bottom: 0
    left: 0
    padding: 20px
    align-items: center

  .about-tiles-line__icon
    margin-right: 14px

    .icon
      width: 20px
      height: 30px

  .about-tiles-line__tt
    margin-top: 0
    padding-right: 40px
    font-size: 14px

  .about-tiles-line__arr
    position: absolute
    right: 20px
    top: 36px
    width: 30px
    background-size: auto 100%

  .about-tiles-line__info
    margin: 0 0 20px
    font-size: 13px

    span
      margin-top: 14px

  .about-tiles-line .v-soc-fullname
    margin: 0
    display: block

    li
      margin: 0 0 15px
      font-size: 13px

  .about-aside
    width: 280px
    margin-top: 30px

  .aside-b-start
    padding: 40px 30px 0
    background-size: 100% 340px
    background-image: url('../img/aside-b-start-mob.png')
    background-repeat: no-repeat
    background-position: 50% 0

    .btn
      margin-bottom: 30px

    img
      width: 160px

    .title-site
      margin-bottom: 20px
      font-size: 20px
      line-height: 24px

  ._docs-b
    .ic-tt-col-about
      &::after
        position: relative
        top: 12px
        content: ''
        width: 38px
        height: 20px
        background-image: url(../img/m-min-p-arrow.svg)
        background-repeat: no-repeat
        background-position: 100% 100%
        background-size: 100% 100%
      
      &__icon
        .icon
          width: 30px
          height: 37px

    .tiles-docs
      li
        padding: 20px
        min-height: 40px

    .tiles-doc-item
      margin-bottom: 0

  .tiles-doc-item__icon
    margin-bottom: 10px
    height: auto

    .icon
      width: 24px
      height: 26px

  .tiles-docs li.tiles-docs__row
    display: block

    .tile-doc-item-bottom
      .btn
        margin-top: 20px

    .tiles-doc-item:last-child
      padding-left: 20px

  .tiles-doc-item__tt
    font-size: 13px
    line-height: 16px

    span
      margin-top: 4px

  .tile-doc-item-bottom
    .btn
      padding: 12px 20px
      font-size: 12px

  .tiles-docs
    li
      width: 100%
      display: flex
      align-items: center
      flex-direction: row
      justify-content: space-between

  .tiles-docs .tiles-doc-item__tt em
    display: inline

    &::after
      display: none
/* end media max width $m-md */