.career-prog-wrapp
  margin-top: 40px
  padding: 50px 50px 32px
  background-color: #ccc
  font-size: 12px
  line-height: 20px
  border-radius: 10px

  .tiles-list
    margin-bottom: 30px
    padding-bottom: 30px
    border-bottom: 1px solid #d7d7dc

    li
      color: #000
      background: none
      width: 35%
      padding: 0 30px
      border-left: 1px solid #d7d7dc
      border-radius: 0

      &:first-child
        padding-left: 0
        width: 32.5%
        border: none

      &:last-child
        padding-right: 0
        width: 32.5%

    .tiles-head
      margin-bottom: 10px

      .icon
        fill: #050447

.career-steps
  position: relative
  padding: 40px 50px 50px 50px
  background-color: #ccc
  border-radius: 10px

  &::before
    content: ''
    position: absolute
    left: 25px
    top: 60px
    width: 1179px
    height: 234px
    z-index: 2
    background-image: url('../img/career-steps-arr-bg.svg')
    background-repeat: no-repeat
    background-position: 50% 50%

.career-users
  position: relative
  z-index: 5
  display: flex
  margin-bottom: 30px

  &__icon
    height: 50px
    margin-bottom: 14px

    .icon
      height: 100%

      &-person-l1
        width: 57px

      &-person-l2
        width: 61px

      &-person-l3
        width: 59px

      &-person-l4
        width: 62px

      &-person-l7
        width: 65px

      &-user-st
        width: 41px
        fill: $colorPrimary

  &__info
    font-size: 14px
    line-height: 18px

  li
    width: 20%
    padding-right: 20px

.career-steps-result
  display: flex
  align-items: center
  padding: 15px 40px
  background-color: #fff
  border-radius: 10px

.cs-result-item
  display: flex
  align-items: center

  &:first-child
    margin-right: 50px

  .career-users__icon
    flex-shrink: 0
    margin: 0 14px 0 0