.m-ban-block
  margin-bottom: 50px
  padding: 60px 60px 66px
  border-radius: 10px
  background-color: $colorBlueLight
  background-image: radial-gradient(circle 1039px at 43.88% 710.32%, #0071db 0%, #10c0e6 100%)
  // background-image: url('../img/h-ban-block-bg.svg')
  background-image: url('../img/h-ban-block-bg@2x.png')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  color: #fff

  .title-site
    margin-bottom: 15px
    max-width: 450px

  p
    max-width: 400px
    font-size: 16px
    line-height: 1.38em

  .btn
    margin-top: 30px

.why-services
  &__head
    .title-site_h4
      margin-left: 210px

.why-services
  .tiles-list
    margin-bottom: 30px

.hts-reg-bg
  position: absolute
  z-index: 2
  bottom: -32px
  left: 30px
  right: 30px
  min-height: 110px
  border-radius: 6px
  background-image: url('../img/hts-reg-bg.svg')
  background-repeat: no-repeat
  background-size: cover
  backdrop-filter: blur(10px)

.hts-reg
  position: absolute
  z-index: 5
  bottom: -32px
  left: 30px
  right: 30px
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 110px
  padding: 8px 80px 8px 60px

.hts-reg-info
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 450px
  margin-right: 20px
  font-size: 16px
  line-height: 1.38em

  .btn
    flex-shrink: 0

  .icon
    flex-shrink: 0
    width: 40px
    height: 40px
    margin-right: 16px
    fill: #0f3675

// partners
.partners-wrapp
  .partners-stat
    position: absolute
    bottom: -30px
    left: 30px
    right: 30px
    display: flex
    align-items: center
    justify-content: space-between

  .partner-stat-comp
    width: calc(50% - 2px)
    padding-top: 15px
    padding-bottom: 15px

.partners-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-bottom: 20px

  li
    display: flex
    position: relative
    width: calc(50% - 15px)
    min-height: 300px
    padding: 30px 0 70px
    margin-bottom: 60px
    border-radius: 10px
    background-image: url('../img/partners-list-3.svg')
    background-size: cover
    background-repeat: no-repeat
    background-position: 0 100%
    backdrop-filter: blur(10px)

    &:first-child
      background-image: url('../img/partners-list-1.svg')

    &:nth-child(2)
      background-image: url('../img/partners-list-2.svg')

    &:nth-child(3)
      background-image: url('../img/partners-list-3.svg')

    &:nth-child(4)
      background-image: url('../img/partners-list-4.svg')

    &:nth-child(5)
      background-image: url('../img/partners-list-5.svg')

    &:nth-child(6)
      background-image: url('../img/partners-list-6.svg')

  .partners-emty
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-bottom: 30px

    .icon
      width: 30px
      height: 47px

    b
      display: block
      margin-top: 20px
      font-size: 16px
      line-height: 19px
      color: rgba(#000, .5)

.partners-row
  flex-grow: 1
  display: flex
  justify-content: space-between

.partners-img
  flex: 0 0 170px
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center
  border-right: 1px solid rgba(#969696, .2)

  &__logo
    height: 90px
    line-height: 90px
    margin-bottom: 16px

    img
      max-height: 100%

  &__name
    font-weight: 600
    font-size: 16px
    line-height: 19px
    text-align: center

.partners-about
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 0 30px

  p
    font-size: 12px
    line-height: 20px

  .btn
    margin-top: 20px

// calc
.calc-line
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 146px 20px 60px
  border-radius: 10px
  background-image: url('../img/calc-line-bg.svg')
  background-repeat: no-repeat
  background-position: 100% 50%
  background-size: cover
  backdrop-filter: blur(10px)

  &__tt
    flex-shrink: 0
    display: flex
    align-items: center

    .icon
      margin-right: 14px
      width: 26px
      height: 34px
      fill: #fff

    .title-site
      margin-bottom: 0

  &__arr
    flex-grow: 1
    margin: 0 30px 0 34px
    height: 10px
    position: relative
    overflow: hidden

    .icon
      position: absolute
      right: 0
      top: 50%
      margin-top: -5px
      width: 550px
      height: 10px

  .btn
    flex-shrink: 0

// kudos bl
.kudos-bl
  padding: 60px 80px 46px 420px
  background-image: url('../img/kudos-bg@2x.png')
  background-repeat: no-repeat
  background-position: 0% 50%
  background-size: cover
  border-radius: 10px
  backdrop-filter: blur(10px)

.kudos-bl-arr
  display: flex
  align-items: center
  margin-top: 30px

  b
    font-size: 16px
    line-height: 22px

  &__arr
    flex-shrink: 0
    margin: 0 30px 0 34px

    .icon
      width: 104px
      height: 10px


/* Max width $m-xl */
@media only screen and (max-width: $m-xl)
  .why-services
    .tiles-list
      margin-bottom: 26px
/* end media max width $m-xl */

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .m-ban-block
    padding-left: 40px
    background-image: url('../img/h-ban-block-bg-tablet@2x.png')

    .title-site
      margin-bottom: 17px

  .partners-list
    display: block
    padding-bottom: 0

    li
      width: 100%
      min-height: 280px
      padding-bottom: 50px

      &:first-child
        background-image: url('../img/partners-list-1-tablet.svg')

      &:nth-child(2)
        background-image: url('../img/partners-list-2-tablet.svg')

      &:nth-child(3)
        background-image: url('../img/partners-list-3-tablet.svg')

      &:nth-child(4)
        background-image: url('../img/partners-list-4-tablet.svg')

      &:nth-child(5)
        background-image: url('../img/partners-list-5-tablet.svg')

  .partners-about
    .btn
      margin-bottom: 20px
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .why-services
    .tiles-list
      margin-bottom: 20px

  .why-services__head .title-site_h4
    margin-left: 0

  .m-ban-block
    margin-bottom: 30px
    padding: 30px 30px 34px
    background-image: url('../img/h-ban-block-bg-mobile@2x.png')

    .title-site
      margin-bottom: 18px
      font-size: 20px
      line-height: 24px

    p
      font-size: 14px
      line-height: 17px

    .btn
      margin-top: 32px

  .partners-list
    li
      width: 100%
      min-height: 100px
      padding: 20px 20px 112px
      margin-bottom: 40px

      &:first-child
        background-image: url('../img/partners-list-1-mob.svg')

      &:nth-child(2)
        background-image: url('../img/partners-list-2-mob.svg')

      &:nth-child(3)
        background-image: url('../img/partners-list-3-mob.svg')

      &:nth-child(4)
        background-image: url('../img/partners-list-4-mob.svg')

      &:nth-child(5)
        background-image: url('../img/partners-list-5-mob.svg')

    .partners-emty
      padding-bottom: 20px

      img
        width: 30px
        height: 30px

      b
        margin-top: 10px
        font-size: 14px
        line-height: 17px

  .partners-row
    display: block

  .partners-img
    padding: 0 0 20px
    margin-bottom: 20px
    border-right: none
    border-bottom: 1px solid rgba(#969696, .2)

    &__logo
      width: 84px
      height: 60px
      line-height: 60px
      margin-bottom: 15px
      text-align: center

    &__name
      font-size: 14px
      line-height: 17px

  .partners-about
    padding: 0

    .btn
      font-size: 12px
      width: 100%
      line-height: 24px

  .partners-wrapp
    .partners-stat
      display: block
      left: 20px
      right: 20px
      bottom: -20px

    .partner-stat-comp
      width: 100%
      margin-bottom: 4px
      padding-top: 12px
      padding-bottom: 14px

      &:last-child
        margin-bottom: 0
/* end media max width $m-md */