.services-bl
  margin-bottom: 70px
  padding: 40px 62px 1px 40px
  border-radius: 10px
  background-color: $colorBlueMoreLight

  .tiles-list
    // transform: translateY(20px)
    margin-bottom: -20px

    li
      padding: 27px 30px 30px

.tiles-service
  display: flex

  &__icon
    flex-shrink: 0
    width: 36px
    margin-right: 14px

    .icon
      width: 36px
      height: 36px

  &__info
    b
      display: block
      padding: 4px 0 6px
      font-size: 500px
      font-size: 24px
      line-height: 29px

    span
      display: block
      max-width: 110px
      font-size: 12px
      line-height: 15px
      color: $colorGrayLight

.sevices-checklist
  margin-bottom: 30px

  li
    padding: 20px 30px 20px 52px
    font-weight: 500
    font-size: 16px
    line-height: 19px
    margin-bottom: 4px
    border-radius: 4px
    background-color: #fff

    &:last-child
      margin-bottom: 0