.section-invest-diff
  padding: 30px 0
  position: relative
  color: #fff
  display: flex
  align-items: flex-start

  &:before
    display: block
    content: ''
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 30px
    background: $colorPurpleDarkest
    background-color: $colorPurpleDarkest
    background-image: url('../img/section-invest-bg.jpg')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    border-radius: 10px
    z-index: 1
  .diff-col
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: center
    &.company-invest
      padding: 50px 50px 60px 60px
      background: $colorBlueDark2
      background-image: url('../img/diff-invest-bg@2x.png')
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: cover
      backdrop-filter: blur(10px)
      border-radius: 10px
      width: 56.5%
      .icon
        fill: $colorPrimary
      .diff-list
        margin-top: 36px
      li
        width: calc(100% + 93px) // 50padding + 43 outside gap
        background-image: url('../img/li-plus-yellow.svg')
        &:not(:last-child)
          margin-bottom: 32px
    &.self-invest
      width: 43.5%
      padding: 50px 40px
      .icon
        fill: $colorPurple
      .diff-list
        margin-top: 27px
      li
        background-image: url('../img/li-minus-violet.svg')
        &:not(:last-child)
          margin-bottom: 14px
  .title-site
    color: inherit
    display: flex
    align-items: center
    margin-bottom: 0
  .icon
    width: 40px
    height: 38px
    flex-shrink: 0
    margin-right: 12px
  .diff-list
    padding-left: 12px
  li
    padding-left: 42px
    line-height: normal
    background-color: transparent
    background-size: 16px
    background-position: left center
    background-repeat: no-repeat
    display: flex
    align-items: center

    span
      flex-grow: 1
      height: 1px
      margin-left: 20px
      background: transparent url('../img/li-dotline-white.svg') right center no-repeat

.ic-tt-start-bl
  margin-bottom: 34px
  padding: 40px 20px 46px
  background-image: url('../img/ic-tt-start-bg.svg')
  background-repeat: no-repeat
  background-position: 100% 0
  background-size: 100% auto

  .ic-tt-col-about
    padding-top: 37px
    margin-left: -20px

  .ic-tt-col-about
    flex: 0 0 190px

  .ic-tt-rows
    margin-bottom: 40px

.start-spec-bl
  display: flex
  align-items: center
  padding: 30px 0 30px 50px
  margin: 0 20px
  background-color: $colorPurpleDarkest
  background-image: url('../img/start-spec-bg.jpg')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover
  border-radius: 10px
  color: #fff

.start-spec-tt
  display: flex
  align-items: center
  flex-shrink: 0
  width: 180px
  padding-right: 20px

  .icon
    flex-shrink: 0
    width: 30px
    height: 30px
    margin-right: 18px

  span
    font-weight: 500
    font-size: 16px
    line-height: 19px

.start-spec-info
  display: flex
  align-items: center
  flex-grow: 1
  border-left: 1px solid rgba(#fff, .2)
  padding-left: 30px

  &__text
    flex-grow: 1
    font-size: 12px
    line-height: 20px

  &__arr
    position: relative
    width: 39px
    height: 10px
    flex-shrink: 0
    overflow: hidden
    margin: 0 30px

    .icon
      position: absolute
      right: 0
      top: 0
      height: 10px
      width: 100px

  &__more
    flex-shrink: 0
    width: 240px
    padding: 20px 28px 20px 30px
    margin-right: -20px
    font-size: 12px
    line-height: 20px
    color: #000
    background-color: #ccc
    background-image: url('../img/start-spec-info-more-bg@2x.png')
    background-repeat: no-repeat
    background-position: 100% 50%
    background-size: cover
    border-radius: 6px
    backdrop-filter: blur(10px)

    a
      color: #000

      &:hover
        text-decoration: underline

.ic-tt-start-bl
  .tiles-list._three-col._arr-top
    li
      &:first-child
        background-image: url('../img/tiles-start-top-arr-1-bg.png')

      &:nth-child(2)
        background-image: url('../img/tiles-start-top-arr-2-bg.png')

      &:nth-child(3)
        background-image: url('../img/tiles-start-top-arr-3-bg.png')

  .tiles-list._three-col._arr-bottom
    li
      &:first-child
        background-image: url('../img/tiles-start-bottom-arr-1-bg.png')

      &:nth-child(2)
        background-image: url('../img/tiles-start-bottom-arr-2-bg.png')

      &:nth-child(3)
        background-image: url('../img/tiles-start-bottom-arr-3-bg.png')


// Max width $m-hd
@media only screen and (max-width: $m-hd)
  .section-invest-diff
    .diff-col
      &.company-invest
        padding: 30px
        background-position: calc(100% + 30px) center
        li
          width: 100%
          span
            display: none
      &.self-invest
        padding: 30px

  // .section-space-st:not(.section-invest-diff),
  // .ic-tt-start-bl,
  // .start-spec-bl,
  // .start-spec-tt,
  // .start-spec-info,
  // .ic-tt-start-bl,
  // .quick-reg
  //   display: none

  .ic-tt-start-bl
    max-width: 708px
    margin: 0 auto 30px
    padding: 20px 28px 0 0
    background-image: url('../img/ic-tt-start-bg-tablet.svg')
    background-repeat: no-repeat
    background-position: 100% 0
    background-size: auto

    .tiles-head._bordered .icon
      width: 30px
      height: 30px
      margin-right: 14px

    .ic-tt-rows
      margin-bottom: 4px

      .tiles-list
        margin-left: 0

        li
          &:first-child
            min-height: 260px

          &:nth-child(2)
            min-height: 216px

          &:nth-child(3)
            min-height: 276px

    .tiles-list
      display: block
      margin-left: 190px

      li
        &:first-child
          min-height: 236px

        &:nth-child(2)
          min-height: 256px

        &:nth-child(3)
          min-height: 276px

    .tiles-list._three-col
      &._arr-top,
      &._arr-bottom
        li
          &:nth-child(n)
            background-image: url('../img/tiles-blue-start-tablet.png')
            background-repeat: no-repeat
            background-position: 100% 50%
            background-size: 100% 100%
      
      li
        width: 100%
        margin-bottom: 4px
        padding: 30px 40px 10px 30px

        &:last-child
          margin-bottom: 0

    .ic-tt-col-about
      margin-left: 0
      padding-top: 49px

// Max width $m-lg
@media only screen and (max-width: $m-lg)
  .diff-list
    br
      display: none

  .section-invest-diff
    .diff-col
      &.company-invest
        width: 55%
      &.self-invest
        width: 45%

  .start-spec-bl
    padding: 26px 0 30px 30px
    margin: 0 20px 0 0
    flex-wrap: wrap
    background-image: url('../img/start-spec-bg-tablet.png')

  .start-spec-tt
    padding: 0 0 23px
    margin-bottom: 30px
    width: 100%
    border-bottom: 1px solid rgba(#fff, .2)

    br
      display: none

  .start-spec-info
    padding: 0
    border: none

    &__arr
      margin-left: 13px


// Max width $m-md
@media only screen and (max-width: $m-md)
  .section-invest-diff
    flex-direction: column
    padding: 0
    margin-bottom: 60px
    &::before
      left: 0
    .diff-col
      &.company-invest
        width: 100%
        padding: 20px
        background-position: 50%
        li
          &:not(:last-child)
            margin-bottom: 16px

      &.self-invest
        width: 100%
        padding: 20px

    .icon
      width: 30px
      height: 28px
      margin-right: 13px
    .diff-list
      padding-left: 0
    li
      padding-left: 34px
      &:not(:last-child)
        margin-bottom: 16px
      br
        display: none

  .ic-tt-start-bl
    padding: 0 17px 0 0
    background: none

    .tiles-head._bordered .icon
      width: 20px
      height: 20px
    
    .ic-tt-rows
      .tiles-list
        li
          &:first-child
            min-height: 260px

            &::before
              background-image: url('../img/ic-start-mob-arr-1.svg')
              height: 172px

          &:nth-child(2)
            min-height: 266px

            &::before
              background-image: url('../img/ic-start-mob-arr-2.svg')
              height: 259px

          &:nth-child(3)
            min-height: 366px

            &::before
              background-image: url('../img/ic-start-mob-arr-3.svg')
              height: 312px

    .tiles-list
      margin-left: 0

      li
        position: relative

        &::before
          content: ''
          position: absolute
          right: -17px
          bottom: 50%
          margin-bottom: -4px
          width: 97px
          z-index: 2
          background-repeat: no-repeat
          background-position: 100% 100%
        
        &:first-child
          min-height: 306px

          &::before
            background-image: url('../img/ic-start-mob-arr-4.svg')
            height: 322px

        &:nth-child(2)
          min-height: 346px

          &::before
            background-image: url('../img/ic-start-mob-arr-5.svg')
            height: 322px

        &:nth-child(3)
          min-height: 366px

          &::before
            background-image: url('../img/ic-start-mob-arr-6.svg')
            height: 352px

    .ic-tt-col-about
      padding-top: 0

      &__icon
        .icon
          width: 40px
          height: 40px

    .tiles-list._three-col
      li
        padding: 20px 30px 10px 20px

        .btn
          padding: 13px 11px
          width: 100%
          font-weight: 600
          font-size: 12px

    .tiles-head__group
      .icon
        width: 30px
        height: 30px
        margin-right: 16px

    .tiles-head._bordered
      margin-bottom: 18px
      padding-bottom: 18px

  .start-spec-bl
    display: block
    padding: 20px 20px 1px
    margin: 0 0 50px
    background-image: url('../img/start-spec-bg-mob.png')

  .start-spec-tt
    padding: 0 0 17px
    margin-bottom: 18px

    .icon
      margin-right: 16px

  .start-spec-info
    display: block

    &__arr
      display: none

    &__text
      margin-bottom: 20px

    &__more
      width: 100%
      margin: 0 0 -20px
      padding: 20px

.section-invest-diff .diff-col.company-invest
  background-image: url('../img/diff-invest-bg-mob.png')

/* Max width 500px */
@media only screen and (max-width: 500px)
  .ic-tt-start-bl .tiles-list._three-col._arr-bottom li:nth-child(n), .ic-tt-start-bl .tiles-list._three-col._arr-top li:nth-child(n)
    background-image: url(../img/tiles-blue-start-mobile.png)
/* end media max width 500px */

// Max width $m-sm
@media only screen and (max-width: $m-sm)
  .section-invest-diff
    .title-site
      font-size: 16px