.career-status-info-row
  display: flex
  color: #fff

.career-main-status-info
  display: flex
  border-radius: 10px
  background-color: #050447
  flex-grow: 1

.career-msi-aside
  padding: 30px
  flex-shrink: 0
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: column
  width: 258px
  background-image: url('../img/career-cab-aside-bg.png')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: 100% auto

  .cab-p-status
    margin-bottom: 17px

    &__tt
      font-size: 12px
      line-height: 15px
      color: #8491b4

    &__val
      text-align: center

.career-statuses-inf
  width: 100%

  .cabinet-stat-bl
    width: 100%
    margin: 0 0 6px
    padding: 9px 18px
    background-color: rgba(#fff, .08)
    color: #fff

    &:last-child
      margin-bottom: 0

    &__tt
      color: #8491b4

    &__val
      font-size: 16px
      line-height: 20px

    .icon
      width: 20px
      height: 22px

.career-main-status-details
  flex-shrink: 0
  margin-left: 4px
  border-radius: 10px
  width: 424px
  padding: 30px
  background-color: #050447
  background-image: url('../img/career-main-status-details-bg.png')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: cover

.career-msi-about,
.career-main-status-details
  padding: 30px

  .c-best-status-list
    margin-bottom: 0

    li
      width: calc(50% - 12px)
      margin: 18px 0 0 12px
      font-size: 11px
      line-height: 14px

.career-msi-tt
  font-weight: 600
  font-size: 14px
  line-height: 17px
  margin-bottom: 17px

.c-msi-levels
  margin-bottom: 2px
  padding: 10px 20px 15px
  border-radius: 4px
  background-color: rgba(#fff, .08)

  .status-level
    margin: 0 0 14px
    display: flex
    align-items: center
    justify-content: space-between

    &:last-child
      margin-bottom: 0

    &__val
      font-size: 14px
      line-height: 17px

  .status-level-progress
    margin-top: 8px