.pay-comp-wrapp
  border-radius: 10px
  overflow: hidden

  &._pay-comp
    .pay-comp-bonus
      margin-bottom: 20px

    .pay-comp-stats
      margin-bottom: 0

    .pay-comp-actions
      &__btn
        .btn
          padding-left: 25px
          padding-right: 25px

      &__field
        width: 240px

    .pay-comp-brand
      &__logo
        height: 60px
        line-height: 60px

.pay-comp-row
  display: flex
  position: relative

  &._blue
    color: #fff
    background-image: radial-gradient(circle at 27% 150%, #0060ba, #02afd4 125%)

    .pay-comp-aside
      border-color: rgba(#fff, .11)

    .round-row-list
      li
        color: rgba(#fff, .9)

        &::before
          border-color: rgba(#fff, .5)

  .round-row-list
    margin-top: 24px

  .pay-comp-btn
    position: absolute
    left: 0
    bottom: 40px
    width: 220px
    text-align: center
    
    .btn
      min-width: 140px
      padding: 10px 24px
      font-size: 10px

.pay-comp-aside
  flex: 0 0 220px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  padding: 40px 25px 120px
  border-right: 1px solid #e7e7e9
  transition: border-color 1s

.pay-comp-brand
  text-align: center

  &__logo
    height: 120px
    max-width: 170px
    margin: 10px auto 20px
    line-height: 120px
    text-align: center

    img
      max-height: 100%

  &__name
    max-width: 240px
    padding: 0 20px
    font-weight: 600
    font-size: 16px
    line-height: 20px

.pay-comp-balance
  text-align: center

  &__tt
    margin-bottom: 25px
    font-weight: 600
    font-size: 14px
    line-height: 17px

  &__icon
    margin-bottom: 12px

    .icon
      width: 30px
      height: 30px
      fill: $colorPrimary

  &__value
    font-weight: 500
    font-size: 18px
    line-height: 22px

.pay-comp-main
  flex-grow: 1
  padding: 40px

  .pay-comp-row
    margin: 40px -40px -40px

.pay-comp-info
  margin-bottom: 35px

.pay-comp-stats
  margin-bottom: 20px

.pay-comp-bonus
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: -20px

  &__tt
    flex-shrink: 0

  &__result
    flex-shrink: 0
    font-weight: 500
    font-size: 14px
    line-height: 17px

  &__arr
    flex-grow: 1
    margin: 0 10px 0 16px

    .st-arrow-grow
      .icon
        width: 800px

.bonus-result-round
  padding: 0 4px
  font-weight: 500
  font-size: 14px
  line-height: 21px
  border: 1px solid #3698e4
  border-radius: 4px

.pay-comp-actions
  display: flex
  align-items: flex-end
  justify-content: space-between
  margin-bottom: 30px

  &__arr
    flex-grow: 1
    display: flex
    align-items: center
    height: 44px
    margin: 0 20px

    .st-arrow-grow
      width: 100%

    .icon
      width: 300px

  &__empty-field
    width: 150px
    border: 1px solid rgba(#fff, .4)
    padding: 0 18px
    font-weight: 500
    font-size: 16px
    line-height: 42px
    border-radius: 4px
  
  &__tt
    margin-bottom: 15px
    font-weight: 600
    font-size: 14px
    line-height: 17px
  
  &__field
    width: 280px

    .field-item__field
      .icon-coins,
      .icon_blueDark
        fill: $colorBlue

      input
        border-color: transparent

.pay-comp-actions-col
  flex-shrink: 0

.cabinet-stat-val-states
  display: flex
  align-items: center
  max-width: 460px

  .cabinet-stat-bl__val
    flex-shrink: 0
    min-width: 120px

  .st-arrow-grow
    flex-grow: 1
    margin: 0 16px 0 20px

    .icon
      width: 206px
      height: 7px

.pay-comp-row-more
  padding: 40px

  .title-site
    margin-bottom: 20px
    font-size: 18px
    line-height: 22px

/* Max width $m-hd */
@media only screen and (max-width: $m-hd)
  .pay-comp-wrapp
    &._pay-comp
      .pay-comp-actions
        flex-wrap: wrap

        &__btn
          .btn
            width: 100%

        &__empty-field
          width: 100%

      .pay-comp-actions__arr
        &:nth-child(4)
          display: none

      .pay-comp-actions-col
        width: 240px
        
        &:last-child
          margin-top: 20px
          width: 100%
/* end media max width $m-hd */

/* Max width $m-xl-plus */
@media only screen and (max-width: $m-xl-plus)
  .pay-comp-aside
    flex-basis: 200px

  .pay-comp-row
    .pay-comp-btn
      width: 200px

  .pay-comp-brand
    &__logo
      height: 80px
      line-height: 80px
/* end media max width $m-xl-plus */

/* Max width $m-xl */
@media only screen and (max-width: $m-xl)
  .pay-comp-aside
    display: block
    padding: 40px
    flex-basis: 100%
    border-right: none
    border-bottom: 1px solid #e7e7e9

  .pay-comp-brand
    display: flex
    align-items: center
    text-align: left

    &__logo
      margin: 0
      max-width: 137px

  .pay-comp-row
    display: block

    &._blue
      .pay-comp-main
        background-image: radial-gradient(circle 876px at 21.33% 114.41%, #0060ba 0%, #02afd4 100%)

      .pay-comp-aside
        background-image: radial-gradient(circle at 36% 371%, #0060ba, #02afd4 123%)

    .pay-comp-btn
      left: auto
      right: 40px
      top: 60px
      bottom: auto
      text-align: left
      width: auto

  .pay-comp-balance
    display: flex
    align-items: center
    justify-content: space-between
    margin: -15px 0
    text-align: left

    &__tt
      margin-bottom: 0

    &__icon
      margin: 0 14px 0 auto

    &__value
      min-width: 146px
      margin: 0

  .pay-comp-actions
    margin-bottom: 24px
/* end media max width $m-xl */

/* Min width $md */
@media only screen and (min-width: $md) and (max-width: $m-xl-plus)
  .pay-comp-wrapp
    &._pay-comp
      .pay-comp-aside
        padding-top: 30px
        padding-bottom: 30px

      .pay-comp-main
        padding-top: 30px

        .pay-comp-main
          padding-top: 40px
/* end media min width $md */

/* Min width $md */
@media only screen and (min-width: $md) and (max-width: $m-xl)
  .pay-comp-wrapp
    &._pay-comp
      .pay-comp-row .pay-comp-btn
        top: 40px
/* end media min width $md */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .pay-comp-aside
    padding: 20px 20px 0
    border: none

  .pay-comp-main
    padding: 15px 20px 20px

  .pay-comp-brand
    display: block
    text-align: center

    &__logo
      margin: 0 auto 12px
      height: 60px
      line-height: 60px
      max-width: 103px

    &__name
      padding: 0
      font-size: 14px
      line-height: 17px
      margin: 0 auto

  .pay-comp-row
    &._blue
      .pay-comp-main
        padding-top: 20px
        background-image: radial-gradient(circle 924px at 21.33% 146.47%, #0060ba 0%, #02afd4 100%)

      .pay-comp-aside
        padding: 20px
        border-bottom: 1px solid rgba(#fff, .11)
        background-image: radial-gradient(circle at 36% 371%, #0060ba, #02afd4 100%)

    .round-row-list
      margin-top: 20px
    
    .pay-comp-btn
      position: relative
      top: 0
      right: 0
      margin-bottom: 20px

      &:last-child
        margin-bottom: 0

      .btn
        width: 100%

  .pay-comp-info
    margin-bottom: 23px

  .pay-comp-stats
    margin-bottom: 10px

  .pay-comp-bonus
    margin: 0

  .pay-comp-balance
    justify-content: flex-start
    margin: 0

    &__tt
      font-size: 12px
      line-height: 15px

    &__icon
      margin: 0 8px 0 14px

      .icon
        width: 18px
        height: 18px

    &__value
      min-width: 40px
      font-size: 14px
      line-height: 18px

  .pay-comp-actions
    display: block
    margin-bottom: 10px

    &__tt
      font-size: 12px
      line-height: 15px
      margin-bottom: 10px

    &__field
      width: 100%

    &__arr
      display: none

    &__btn
      .btn
        width: 100%

  .pay-comp-actions-col
    margin-bottom: 10px

  .pay-comp-row-more .title-site
    font-size: 16px
    line-height: 20px
    margin-bottom: 15px

  .pay-comp-actions-col
    margin-bottom: 16px
    width: 100%

  .pay-comp-wrapp._pay-comp
    .pay-comp-brand__logo
      height: 30px
      line-height: 30px

    .pay-comp-bonus
      margin-bottom: 10px

    .pay-comp-row
      .pay-comp-btn
        margin: 14px 0 0

    .pay-comp-main .pay-comp-row
      margin: 20px -20px -20px

    .pay-comp-actions
      background-image: url('../img/min-mob-md-arr.svg')
      background-repeat: no-repeat
      background-position: 100% 44px

    .pay-comp-actions-col
      padding-right: 30px
      width: 100%

      &:last-child
        padding-right: 0

    .pay-comp-actions__field
      width: 100%
/* end media max width $m-md */