.partner-stat-comp
  display: flex
  align-items: center
  justify-content: space-between
  padding: 25px 30px
  border-radius: 4px
  background-color: #cccbd9
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover

  &._purple
    background-image: url('../img/partner-stat-comp-bg2.png')

  &._blue
    background-image: url('../img/partner-stat-comp-bg.png')

  &._purple,
  &._blue
    color: #fff

    .partner-stat-comp
      &__about
        span
          color: #fff

      &__aside
        .icon
          fill: #fff

  &__about
    span
      display: block
      margin-bottom: 6px
      font-size: 12px
      line-height: 15px
      color: rgba(#000, .5)

    b
      display: block
      font-weight: 500
      font-size: 16px
      line-height: 19px

  &__aside
    .icon
      width: 30px
      height: 30px

    .icon-calendar
      fill: $colorBlueDark2

    .icon-coins-up
      fill: $colorPurpleDark

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .partner-stat-comp
    padding: 16px 20px

    &__about
      b
        font-size: 14px
        line-height: 17px

    &__aside
      .icon
        width: 24px
        height: 24px
/* end media max width $m-md */