.quick-reg
  position: relative
  z-index: 5
  margin-bottom: -42px
  padding: 60px 60px 66px
  background-color: $colorBlueMoreLight
  background-image: url('../img/quick-reg-bg@2x.png')
  background-repeat: no-repeat
  background-position: 0 50%
  background-size: cover
  border-radius: 10px
  backdrop-filter: blur(10px)
  color: #fff

  .title-site
    margin-bottom: 20px
    color: #fff

  .st-form
    max-width: 690px

  .form-group
    &_half-col
      width: 47.7%

.quick-req-btns
  display: flex
  align-items: center
  margin-top: 30px

  .btn
    margin-right: 30px

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .quick-reg
    padding: 40px
    background-image: url('../img/quick-reg-bg-tablet.png')
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .quick-reg
    margin-bottom: -34px
    padding: 30px
    background-image: url('../img/quick-reg-bg-mob.jpg')

    .title-site
      font-size: 20px
      line-height: 24px
      margin-bottom: 16px

    .form-group_half-col
      width: 100%

  .quick-req-btns
    display: block
    margin-top: 20px

    .btn
      width: 100%
      margin-bottom: 16px
/* end media max width $m-md */