.quick-reg
  position: relative
  z-index: 5
  margin-bottom: -42px
  padding: 60px 60px 66px
  background-color: $colorBlueMoreLight
  background-image: url('../img/quick-reg-bg@2x.png')
  background-repeat: no-repeat
  background-position: 0 50%
  background-size: cover
  border-radius: 10px
  backdrop-filter: blur(10px)
  color: #fff

  .title-site
    margin-bottom: 20px
    color: #fff

  .st-form
    max-width: 690px

  .form-group
    &_half-col
      width: 47.7%

.quick-req-btns
  display: flex
  align-items: center
  margin-top: 30px

  .btn
    margin-right: 30px