.status-section-wrapper
  padding: 50px 0
  margin: 50px 0
  background-color: $colorPurpleDarkest
  background-image: url('../img/status-sec-1.jpg')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: cover
  color: #fff
  overflow: hidden

.status-row
  display: flex
  align-items: center
  justify-content: space-between
  background-image: url('../img/status-table-bg.svg')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover

.status-col
  width: 50%

  &:last-child
    padding-left: 30px

.status-rank
  width: 110px
  display: flex
  align-items: center
  flex-shrink: 0
  margin-right: 38px

  &__icon
    flex-shrink: 0
    width: 50px
    height: 50px
    margin-right: 16px
    border-radius: 50%

    .icon
      width: 100%
      height: 100%

  &__name
    font-weight: 500
    font-size: 22px
    line-height: 27px

.status-item
  display: flex
  align-items: center
  margin-bottom: 50px

  &:last-child
    margin-bottom: 0

.status-levels
  display: flex
  align-items: center
  justify-content: space-between

.status-level
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-right: 44px
  min-width: 112px

  &:last-child
    margin-right: 0

  &__tt
    margin-right: 20px
    font-size: 12px
    line-height: 15px
    color: $colorGrayLight

  &__val
    font-weight: 500
    font-size: 16px
    line-height: 19px

.status-bonus
  display: flex
  align-items: center
  margin-top: 10px
  font-size: 12px
  line-height: 15px

  .icon
    flex-shrink: 0
    width: 16px
    height: 16px
    margin-right: 8px

// sattus list
.status-list
  li
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 22px
    padding-bottom: 22px
    border-bottom: 1px solid rgba(#fff, .2)

    &:last-child
      border: none
      margin-bottom: 0
      padding-bottom: 0

  .status-item
    margin-bottom: 0

.status-money-wrapp
  display: flex
  align-items: center

.status-money-item
  position: relative
  width: 200px
  flex-shrink: 0
  min-height: 54px
  padding: 9px 50px 9px 20px
  background-image: url('../img/status-rectangle-left.png')
  background-repeat: no-repeat
  background-position: 0 50%
  background-size: cover
  overflow: hidden
  border-radius: 0 4px 4px 0

  &::before
    content: ''
    position: absolute
    top: 0
    right: 15px
    width: 30px
    height: 100%
    background-image: url('../img/st-ic2.svg')
    background-repeat: no-repeat
    background-position: 50% 50%

  &:first-child
    padding: 9px 50px 9px 14px
    background-image: url('../img/status-rectangle-right.png')
    background-position: 100% 50%
    border-radius: 4px 0 0 4px

    &::before
      right: 17px
      background-image: url('../img/st-ic1.svg')

  &__tt
    margin-bottom: 2px
    font-size: 12px
    line-height: 15px
    color: $colorGrayLight

  &__val
    font-weight: 500
    font-size: 16px
    line-height: 19px

.status-money-line
  margin: 0 10px
  font-size: 12px
  line-height: 15px

.status-item-partners
  display: flex
  margin-left: 46px

  &__tt
    flex-shrink: 0
    width: 120px
    padding-top: 9px
    padding-right: 10px
    font-weight: 600
    font-size: 14px
    line-height: 18px

  .status-bonus
    margin-left: 24px

  .status-levels
    flex-grow: 1
    min-height: 54px
    padding: 7px 18px 14px 24px
    background-image: url('../img/status-rectangle-left.png')
    background-repeat: no-repeat
    background-position: 0 50%
    background-size: cover
    border-radius: 0 4px 4px 0

  .status-level
    width: 132px
    margin-right: 18px

    &:last-child
      margin-right: 0

    &__tt
      margin-right: 34px

.deal-ti-progress .status-level-progress span,
._status-closed .status-level-progress span.active
  background-color: #dedde4

._status-working
  .status-level-progress
    span
      &.active
        background-color: #23ace5

.status-level-progress
  position: relative
  display: flex
  justify-content: space-between
  margin-top: 10px
  height: 4px
  width: 100%
  border-radius: 1px
  overflow: hidden
  margin-left: -1px

  span
    flex-grow: 1
    height: 4px
    margin-left: 1px
    border-radius: 1px
    background-color: rgba(#fff, .3)

    &.active
      background-color: $colorPrimary

  &._progress-blue
    span
      &.active
        background-color: #23ace5

  &._progress-purple
    span
      &.active
        background-color: #ab50b6

/* Max width $m-hd */
@media only screen and (max-width: $m-hd)
  .status-row
    background: none
    align-items: flex-start

  .status-item
    flex-wrap: wrap
    min-height: 141px

  .status-rank
    width: 100%
    margin-bottom: 20px
    margin-right: 0

  .status-item
    border-bottom: 1px solid rgba(#fff, .2)
    padding-bottom: 25px
    margin-bottom: 25px

    &:last-child
      border: none
      padding-bottom: 0

  .status-list
    .status-item
      width: 50%
      min-height: 20px
      padding: 0
      border: none
      padding-right: 20px

    .status-level
      justify-content: space-between

      &__tt
        margin-right: 10px

      &__val
        margin-right: 10px

  .status-item-partners
    display: block
    margin-left: 0
    padding-left: 20px

    &__tt
      display: block
      min-height: 50px
      padding: 0
      margin-bottom: 20px
      width: auto
      display: flex
      align-items: center

    .status-level
      width: 32%

  .status-item-partners
    width: 50%

  .status-money-wrapp
    justify-content: space-between
    width: 100%

  .status-money-item
    flex-grow: 1
/* end media max width $m-hd */

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .status-section-wrapper
    background-image: url('../img/status-sec-1-tablet.png')

  .status-row
    display: block

  .status-item
    flex-wrap: wrap
    min-height: 141px

  .status-rank
    width: auto
    margin-bottom: 0
    min-width: 182px

    &__icon
      width: 

  .status-col
    width: 100%

    &:last-child
      padding-left: 0

      .status-item
        &:last-child
          padding-bottom: 0
          margin-bottom: 0
          border: none
  
  .status-item
    min-height: auto

    &:last-child
      border-bottom: 1px solid rgba(#fff, .2)
      margin-bottom: 25px
      padding-bottom: 25px

  .status-list
    li
      width: 100%
      margin: 0
      display: block
      margin-bottom: 22px

    .status-item
      margin: 0
      padding: 0
      width: 100%
      flex-wrap: nowrap
      min-height: 20px

    .status-rank
      margin: 0 10px 0 0
      min-width: 20px
      width: 133px
      flex-shrink: 0

    .status-info
      width: 100%

  .status-item-partners
    width: 100%
    padding: 0
    margin-top: 20px
    display: flex

    &__tt
      width: 133px
      min-height: 20px
      margin-bottom: 0
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .status-section-wrapper
    margin: 30px 0
    padding: 30px 0
    background-image: url('../img/status-sec-1-mob.jpg')

  .status-rank
    display: block
    min-width: 40px
    margin-right: 20px

    &__icon
      width: 40px
      height: 40px
      margin-right: 0

    &__name
      margin-top: 12px
      text-align: center
      font-size: 18px
      line-height: 22px

  .status-item
    align-items: flex-start
    flex-wrap: nowrap

  .status-level
    display: block

    &__tt
      font-size: 12px
      line-height: 15px
      margin-bottom: 4px

    &__val
      font-size: 14px
      line-height: 17px

  .status-level
    min-width: 20px
    margin-right: 0

    &__tt
      margin-right: 0

  .status-info
    flex-grow: 1

  .status-item,
  .status-item:last-child
    padding-bottom: 20px
    margin-bottom: 20px

  .status-bonus
    align-items: flex-start
    margin-top: 12px

  .status-section-wrapper._bg2
    .title-site
      text-align: center
      margin-bottom: 20px

  .status-list
    li
      margin-bottom: 0
      padding-bottom: 0
      border: none

    .status-item
      display: block

    .status-rank
      width: 60px
      margin: 0 auto 20px

      &__icon
        width: 60px
        height: 60px
        margin: 0

      &__name
        margin-top: 10px
        font-size: 18px
        line-height: 22px

  .status-money-wrapp
    display: block

  .status-money-line
    display: none

  .status-money-item
    width: 100%
    margin-bottom: 4px

    &::before
      background-size: 22px 22px

    &:first-child,
    &:last-child
      background: rgba(#fff, .08)
      border-radius: 4px
      padding: 8px 40px 8px 14px

    &:last-child
      margin-bottom: 0

    &__val
      font-size: 14px
      line-height: 18px

  .status-item-partners
    display: block

    &__tt
      text-align: center
      margin-bottom: 14px
      width: 100%

    .status-levels
      background: none
      display: block
      padding: 0

    .status-level
      display: flex
      align-items: center
      padding: 9px 15px 15px
      background: rgba(#fff, .08)
      border-radius: 4px
      width: 100%
      margin-bottom: 2px

      &:last-child
        margin-bottom: 0

      &__val
        margin-right: 7px

    .status-level-progress
      margin-top: 5px

      span
        height: 3px

  .status-item-partners .status-bonus
    margin-left: 0
/* end media max width $m-md */