.status-section-wrapper
  padding: 50px 0
  margin: 50px 0
  background-color: $colorPurpleDarkest
  background-image: url('../img/status-sec-1.svg')
  background-repeat: no-repeat
  background-position: 50% 0
  background-size: cover
  color: #fff

  &._bg2
    background-image: url('../img/status-sec-2.svg')

.status-row
  display: flex
  align-items: center
  justify-content: space-between
  background-image: url('../img/status-table-bg.svg')
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: cover

.status-col
  width: 50%

  &:last-child
    padding-left: 30px

.status-rank
  width: 110px
  display: flex
  align-items: center
  flex-shrink: 0
  margin-right: 38px

  &__icon
    flex-shrink: 0
    width: 50px
    height: 50px
    margin-right: 16px
    border-radius: 50%

    .icon
      width: 100%
      height: 100%

  &__name
    font-weight: 500
    font-size: 22px
    line-height: 27px

.status-item
  display: flex
  align-items: center
  margin-bottom: 50px

  &:last-child
    margin-bottom: 0

.status-levels
  display: flex
  align-items: center
  justify-content: space-between

.status-level
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-right: 44px
  min-width: 112px

  &:last-child
    margin-right: 0

  &__tt
    margin-right: 20px
    font-size: 12px
    line-height: 15px
    color: $colorGrayLight

  &__val
    font-weight: 500
    font-size: 16px
    line-height: 19px

.status-bonus
  display: flex
  align-items: center
  margin-top: 10px
  font-size: 12px
  line-height: 15px

  .icon
    flex-shrink: 0
    width: 16px
    height: 16px
    margin-right: 8px

// sattus list
.status-list
  li
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 22px
    padding-bottom: 22px
    border-bottom: 1px solid rgba(#fff, .2)

    &:last-child
      border: none
      margin-bottom: 0
      padding-bottom: 0

  .status-item
    margin-bottom: 0

.status-money-wrapp
  display: flex
  align-items: center

.status-money-item
  position: relative
  width: 200px
  flex-shrink: 0
  min-height: 54px
  padding: 9px 50px 9px 20px
  background-image: url('../img/status-rectangle-left.svg#svgView(preserveAspectRatio(none))')
  background-repeat: no-repeat
  background-position: 0 50%
  background-size: auto 100%
  overflow: hidden
  border-radius: 0 4px 4px 0
  -webkit-backdrop-filter: blur(20px)
  backdrop-filter: blur(20px)

  &::before
    content: ''
    position: absolute
    top: 0
    right: 15px
    width: 30px
    height: 100%
    background-image: url('../img/st-ic2.svg')
    background-repeat: no-repeat
    background-position: 50% 50%

  &:first-child
    padding: 9px 50px 9px 14px
    background-image: url('../img/status-rectangle-right.svg#svgView(preserveAspectRatio(none))')
    background-position: 100% 50%
    border-radius: 4px 0 0 4px

    &::before
      right: 17px
      background-image: url('../img/st-ic1.svg')

  &__tt
    margin-bottom: 2px
    font-size: 12px
    line-height: 15px
    color: $colorGrayLight

  &__val
    font-weight: 500
    font-size: 16px
    line-height: 19px

.status-money-line
  margin: 0 10px
  font-size: 12px
  line-height: 15px

.status-item-partners
  display: flex
  margin-left: 46px

  &__tt
    flex-shrink: 0
    width: 120px
    padding-top: 9px
    padding-right: 10px
    font-weight: 600
    font-size: 14px
    line-height: 18px

  .status-bonus
    margin-left: 24px

  .status-levels
    flex-grow: 1
    min-height: 54px
    padding: 7px 18px 14px 24px
    background-image: url('../img/status-rectangle-left.svg#svgView(preserveAspectRatio(none))')
    background-repeat: no-repeat
    background-position: 0 50%
    background-size: auto 100%
    border-radius: 0 4px 4px 0

  .status-level
    width: 132px
    margin-right: 18px

    &:last-child
      margin-right: 0

    &__tt
      margin-right: 34px

._status-working
  .status-level-progress
    .progress-active-lines
      span
        // background-image: url('../img/status-progress-fill-blue.png')

._status-finished
  .status-level-progress
    .progress-active-lines
      span
        // background-image: url('../img/status-progress-fill.png')

._status-closed
  .status-level-progress
    .progress-active-lines
      span
        // background-image: url('../img/status-progress-empty.png')


.status-level-progress
  position: relative
  display: flex
  margin-top: 10px
  height: 4px
  width: 100%
  border-radius: 1px
  overflow: hidden
  background-image: url('../img/progress-empty@3x.png')
  background-repeat: repeat-x
  background-position: 0 50%
  background-size: 100% 100%
  background-repeat: space

  &._progress-blue
    .progress-active-lines
      span
        // background-image: url('../img/status-progress-fill-blue.png')

  &._progress-purple
    .progress-active-lines
      span
        // background-image: url('../img/status-progress-fill-purple.png')

  &.st-level-1
    .progress-active-lines
      width: 8.3333%

  &.st-level-2
    .progress-active-lines
      width: 16.6666%

  &.st-level-3
    .progress-active-lines
      width: 24.9999%

  &.st-level-4
    .progress-active-lines
      width: 33.3332%

  &.st-level-5
    .progress-active-lines
      width: 41.6665%

  &.st-level-6
    .progress-active-lines
      width: 49.9998%

  &.st-level-7
    .progress-active-lines
      width: 58.3331%

  &.st-level-8
    .progress-active-lines
      width: 66.6664%

  &.st-level-9
    .progress-active-lines
      width: 74.9997%

  &.st-level-10
    .progress-active-lines
      width: 83.3333%

  &.st-level-11
    .progress-active-lines
      width: 91.6663%

  &.st-level-12
    .progress-active-lines
      width: 100%

  &.st-progress-20
    &.st-level-1
      .progress-active-lines
        width: 5%

    &.st-level-2
      .progress-active-lines
        width: 10%

    &.st-level-3
      .progress-active-lines
        width: 15%

    &.st-level-4
      .progress-active-lines
        width: 20%

    &.st-level-5
      .progress-active-lines
        width: 25%

    &.st-level-6
      .progress-active-lines
        width: 30%

    &.st-level-7
      .progress-active-lines
        width: 35%

    &.st-level-8
      .progress-active-lines
        width: 40%

    &.st-level-9
      .progress-active-lines
        width: 45%

    &.st-level-10
      .progress-active-lines
        width: 50%

    &.st-level-11
      .progress-active-lines
        width: 55%

    &.st-level-12
      .progress-active-lines
        width: 60%

    &.st-level-13
      .progress-active-lines
        width: 65%

    &.st-level-14
      .progress-active-lines
        width: 70%

    &.st-level-15
      .progress-active-lines
        width: 75%

    &.st-level-16
      .progress-active-lines
        width: 80%

    &.st-level-17
      .progress-active-lines
        width: 85%

    &.st-level-18
      .progress-active-lines
        width: 90%

    &.st-level-19
      .progress-active-lines
        width: 95%

    &.st-level-20
      .progress-active-lines
        width: 100%
        

.progress-active-lines
  height: 100%
  overflow: hidden
  position: relative

  span
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 2
    background-image: url('../img/progress-fill@3x.png')
    background-repeat: repeat-x
    background-position: 0 50%
    background-size: 100% 100%
    background-repeat: space

/* Max width $m-hd */
@media only screen and (max-width: $m-hd)
  .status-row
    background: none
    align-items: flex-start

  .status-item
    flex-wrap: wrap
    min-height: 141px

  .status-rank
    width: 100%
    margin-bottom: 20px

  .status-item
    border-bottom: 1px solid rgba(#fff, .2)
    padding-bottom: 25px
    margin-bottom: 25px

    &:last-child
      border: none
      padding-bottom: 0
/* end media max width $m-hd */

/* Max width $m-lg */
@media only screen and (max-width: $m-lg)
  .status-section-wrapper
    background-image: url('../img/status-sec-1-tablet.png')

  .status-row
    display: block

  .status-item
    flex-wrap: wrap
    min-height: 141px

  .status-rank
    width: auto
    margin-bottom: 0
    min-width: 182px

    &__icon
      width: 

  .status-col
    width: 100%

    &:last-child
      padding-left: 0

      .status-item
        &:last-child
          padding-bottom: 0
          margin-bottom: 0
          border: none
  
  .status-item
    min-height: auto

    &:last-child
      border-bottom: 1px solid rgba(#fff, .2)
      margin-bottom: 25px
      padding-bottom: 25px
/* end media max width $m-lg */

/* Max width $m-md */
@media only screen and (max-width: $m-md)
  .status-section-wrapper
    margin: 30px 0
    padding: 30px 0

  .status-rank
    display: block
    min-width: 40px
    margin-right: 20px

    &__icon
      width: 40px
      height: 40px
      margin-right: 0

    &__name
      margin-top: 12px
      text-align: center
      font-size: 18px
      line-height: 22px

  .status-item
    align-items: flex-start
    flex-wrap: nowrap

  .status-level
    display: block

    &__tt
      font-size: 12px
      line-height: 15px
      margin-bottom: 4px

    &__val
      font-size: 14px
      line-height: 17px

  .status-level
    min-width: 20px
    margin-right: 0

    &__tt
      margin-right: 0

  .status-info
    flex-grow: 1

  .status-item,
  .status-item:last-child
    padding-bottom: 20px
    margin-bottom: 20px

  .status-bonus
    align-items: flex-start
    margin-top: 12px
/* end media max width $m-md */